.env
.env.local
venv/
env/
.venv/

.vscode/

.DS_Store
.idea/

**/indexer.egg-info/
**/embedder.egg-info/
**/api.egg-info/
**/exports.egg-info/
**/media_processor.egg-info/
**/transcribe.egg-info/
**/caption.egg-info/

*.sql

docs/

videos/

__pycache__/
**/__pycache__/
*.pyc
*.pyo