.env
.env.local
venv/
env/
.venv/

.vscode/

.DS_Store
.idea/

**/indexer.egg-info/
**/embedder.egg-info/
**/api.egg-info/
**/exports.egg-info/
**/media_processor.egg-info/

MILESTONE.md
PROGRESS.md


__pycache__/
**/__pycache__/
*.pyc
*.pyo